@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_LayoutTwoColumn.cshtml";
}

<h2>Faq</h2>
<div>
    <div>General questions</div>
    <ul>
        <li>1.</li>
        <li>2.</li>
        <li>3.</li>
    </ul>
</div>

<div>
    <div>Streamers</div>
    <ul>
        <li>1.</li>
        <li>2.</li>
        <li>3.</li>
    </ul>
</div>

<div>
    <div>Advertisers</div>
    <ul>
        <li>1.</li>
        <li>2.</li>
        <li>3.</li>
    </ul>
</div>

@section RightColumn
{
    <div>
        <a href="/home/advertisers">Advertisers</a>
        <a href="/home/streamers">Streamers</a>
        <a href="#">Sample Banners</a>
    </div>
}